/* Google Font imports */
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --header-footer: rgb(149, 239, 119);
  --body: #fef1f8;
  --accent: rgb(35, 117, 35);
  --glow-btn: #24836c;
  --glow-ring: #a7e690;
  --film-card-1: #EEDAFF;
  --film-card-2: #ADE4FF;
  --watchlist-card: #FF8B97;
}

/* SITE is stlyed MOBILE FIRST (approx 376px) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body);
}

img,
svg {
  display: block;
  max-width: 100%;
}

svg.loader {
  color: var(--accent);
  width: 70px;
  height: 70px;
  margin: 1rem auto;
  animation: spin 1.75s linear infinite;
  /* using ease instead of linear makes start/stop animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    /* putting from 0 is not required here */
  }

  to {
    transform: rotate(360deg)
  }
}

h1,
h2 {
  font-family: "Sour Gummy", sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.55rem;
}

h2 {
  font-size: 1.45rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Make all Components 100% width */
main,
header,
footer {
  width: 100%;
}

/* ==== Learn More & Watchlist Message styles ==== */
.black-bg {
  position: fixed;
  /* Covers entire screen, even when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 29;
}

.learn-more-message,
.watch-message {
  text-align: center;
  font-size: 1.25rem;
  background-color: var(--glow-btn);
  color: white;
  border: 2px solid white;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  /* Center w position:absolute */
  margin: 0 auto;
  left: 0;
  right: 0;
}

.learn-more-message {
  position: absolute;
  top: 5vh;
  width: 90%;
  max-width: 800px;
}

.watch-message {
  position: fixed;
  /* Shows message regardless of user scrolling down AKA sticky */
  top: 20vh;
  width: 70%;
  padding: 3rem 1.5rem;
}

.close-message,
.close-film {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  transition: 0.1s;
  z-index: 10;
}

.close-film {
  font-size: 1.6rem;
}

.close-message:hover,
.close-film:hover {
  transform: scale(1.2);
}

/* Message slide down effect */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.msg-img img {
  margin: 2rem auto 1.5rem auto;
}

.learn-more-message .source {
  font-size: 1rem;
}

.source a {
  color: var(--glow-ring);
}


/* ====== HEADER styles ====== */
header {
  padding: 2rem 0 3rem 0
}

header,
.favorite-films {
  background-color: var(--header-footer);
}

.logo-wrapper {
  width: 20%;
  max-width: 220px;
  min-width: 150px;
}

header h1 {
  margin-top: 2rem;
}

/* Typewriter in Effect */
.typewriter h1 {
  width: 0;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /* margin: 0 auto; */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end) forwards;
  /* Add forward to keep text on page */
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* GLOW BUTTON styles */
.glow-btn-container {
  min-height: 60px;
  margin-top: 1.5rem;
}

.glow-btn {
  font-family: "Sour Gummy", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--glow-btn);
  border: none;
  cursor: pointer;
}

.glow-btn,
.glow {
  position: absolute;
  /* Center the btn */
  margin: 0 auto;
  left: 0;
  right: 0;
  /* */
  overflow: hidden;
  z-index: 0;
  max-height: 50px;
  max-width: 150px;
  height: 100%;
  width: 100%;
  border-radius: 35px;
}

.glow-btn:before,
.glow:before {
  content: "";
  width: 99999px;
  height: 99999px;
  top: 50%;
  left: 50%;
  background-image: conic-gradient(rgba(0, 0, 0, 0), var(--glow-ring), rgba(0, 0, 0, 0) 25%);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: -2;
  animation: glow 5s linear infinite;
}

.glow {
  filter: blur(25px);
}

.glow-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  /* left: 2px;
  top: 2px; */
  /* Commented out above to change border thickness */
  width: calc(100% - 7px);
  height: calc(100% - 6px);
  background: var(--glow-btn);
  border-radius: 35px;
}

@keyframes glow {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

/* Fade in Button Effect */
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.search-img {
  max-width: 300px;
  margin: -1.25rem auto -3rem auto;
  animation: walk 4s ease;
}

/* Walking movement */
@keyframes walk {
  25% {
    transform: rotate(4deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  75% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(0);
  }
}


/* ====== FAVORITE FILMS section styles ====== */
.watchlist-films {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background-image: url(../src/imgs/ghibli-3.png);
  background-size: contain;
  background-color: white;
}

.watchlist-films h2,
.watchlist-description {
  /* background: rgba(255, 255, 255, 0.899); */
  background-color: white;
  max-width: fit-content;
  border-radius: 12px;
  padding: 1rem;
}

.watchlist-films h2 {
  margin: 0 auto;
}

.watchlist-description {
  text-align: center;
  font-size: 1.1rem;
  margin: 3rem auto 0 auto;
}

.watchlist-wrapper ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watchlist-films .film-card:first-of-type {
  margin-top: 3.75rem;
}

.watchlist-films .film-card {
  margin-top: 4.5rem;
  padding: 3.75rem 2rem 2rem 2rem;
  height: auto;
}

.watchlist-films .film-card::before {
  /* Shows # in watchlist queue */
  content: "#" attr(data-list-position);
  position: absolute;
  /* Adjusted top padding and top property to account for zig zags */
  padding: 0.5rem 0.9rem;
  top: -30px;
  /* Center number (something positioned with absolute */
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* text-align: center; */
  font-family: "Sour Gummy", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background-color: #ffe7a8;
  /* ZIG-ZAG Borders (6px represents size of zig zags) */
  clip-path: polygon(
      /* Top Zig-Zag */
      0 6px, 10% 0,
      20% 6px, 30% 0,
      40% 6px, 50% 0,
      60% 6px, 70% 0,
      80% 6px, 90% 0,
      100% 6px, 100% 100%,

      /* Bottom Zig-Zag */
      100% calc(100% - 6px), 90% 100%,
      80% calc(100% - 6px), 70% 100%,
      60% calc(100% - 6px), 50% 100%,
      40% calc(100% - 6px), 30% 100%,
      20% calc(100% - 6px), 10% 100%,
      0 calc(100% - 6px))
}

.watchlist-films .film-img img {
  height: 300px;
}

/* ========= FILM SECTION styles ======== */
/* ==== Search bar & Sort Select styles ==== */
.search-options h2 {
  margin: 2rem 0;
}

.search-films {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-films svg {
  color: var(--glow-btn);
  width: 1.25rem;
  height: 1.25rem;
}

input#search,
.sort-wrapper select {
  margin-left: 0.4rem;
  /* min-height: 48px; */
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 35px;
  border: 2px solid var(--glow-btn);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .17);
}

.search-films label {
  position: absolute;
  left: -99999px;
}

/* Sort bar styles */
.sort-films,
.sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-films {
  margin-bottom: 2rem;
}

.sort-wrapper {
  width: 228px;
}

.sort-wrapper select {
  width: 100%;
  background-color: #ffffff;
  cursor: pointer;
  /* For custom arrow */
  -webkit-appearance: none;
  appearance: none;
}

svg.arrow {
  position: relative;
  right: 24px;
  pointer-events: none;
  /* Include this so the icon is clickable */
}

/* ====== Film Card styles ====== */
.all-films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

.directions {
  text-align: center;
  padding-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.no-match {
  color: red;
  border: 2px dashed red;
  padding: 1rem;
}

.film-card {
  border-radius: 26px;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 350px;
  position: relative;
  /* For flipping */
  height: 680px;
  /* Must set a height. This height based on 376px mobile */
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.film-card.flipped {
  transform: rotateY(180deg);
  /* Flip card */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  left: 0;
  /* Aligns everything */
}

.card-back {
  transform: rotateY(180deg);
  /* Flips card content */
}

.film-card:nth-child(even) {
  background-color: var(--film-card-1);
}

.film-card:nth-child(odd) {
  background-color: var(--film-card-2);
}

/* Color for Watchlist Film Cards */
.watchlist-films .film-card {
  background-color: var(--watchlist-card);
  border: none;
}

.film-card-content {
  display: flex;
  flex-direction: column;
}

.film-front-container {
  padding: 3.25rem 2rem;
}

.film-img img {
  max-height: 330px;
  margin: 0 auto;
  border: 6px solid white;
}

.film-info {
  text-align: center;
}

.film-info h3 {
  margin: 1.6rem 0 1.1rem 0;
  font-size: 1.4rem;
}

.film-info span {
  font-size: 1.15rem;
  font-weight: normal;
  color: rgb(84, 77, 77);
}

.film-info p {
  margin: 0.5rem 0;
  font-size: 1.15rem;
}

/* Remove margin for rt score on watchlist cards */
p.score {
  margin: 0;
}

.rt-score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tomatoe-icon {
  margin-right: 0.35rem;
  font-size: 1.5rem;
}

.add-watchlist {
  position: absolute;
  top: 92%;
  right: 7%;
}

.add-watchlist svg {
  display: inline-block;
  width: 4ch;
  max-width: 60px;
  margin: 0;
  padding: 0;
  height: auto;
  /* Need this for button size to be acurate in click range */
}

.add-watchlist button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
  /* Need this to overlap whole card */
}

/* Styles for Back of card content */
.film-poster img {
  border-radius: 26px 26px 0 0;
}

.film-description {
  padding: 1rem 1.8rem;
  font-size: 1rem;
}

/* ===== Footer Styles ===== */
footer.site-footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--header-footer);
}

.site-footer a {
  color: black;
}

/* ===== MEDIA QUERIES ===== */
/* Tablet Styles */
@media (min-width: 800px) {
  .logo-wrapper {
    width: 30%;
  }

  .typewriter h1 {
    font-size: 2.45rem;
  }

  h2 {
    font-size: 2rem;
  }

  .learn-more-message {
    padding: 3.5rem 2rem 1.75rem 2rem;
  }

  .search-img {
    max-width: 350px;
  }

  .search-options h2 {
    margin: 4rem 0;
  }

  .directions {
    margin: 2rem 0;
  }

  .watchlist-films {
    padding: 4rem 0 5rem 0;
  }

  .watchlist-wrapper ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 3.5rem;
  }

  .watchlist-films .film-card:first-of-type {
    margin-top: 4.5rem;
  }

  .watchlist-films h2 {
    margin-bottom: 0.5rem;
  }

  .watchlist-description,
  .directions {
    font-size: 1.25rem;
  }

  .options-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .options-wrapper label {
    font-size: 1.15rem;
  }

  input#search,
  .sort-wrapper select {
    padding: 0.6rem 0.8rem;
    margin-left: 0.5rem;
    font-size: 1.05rem;
  }

  svg.arrow {
    right: 26px;
  }

  .all-films {
    justify-content: space-around;
    gap: 3.5rem;
    margin-bottom: 4rem;
  }

  /* Add this to center last card in row */
  .all-films .film-card:last-of-type {
    margin: 0 auto;
  }

  footer.site-footer {
    padding: 2rem;
  }
}



/* Desktop Styles */
@media (min-width: 1400px) {
  .typewriter h1 {
    font-size: 3rem;
    margin: 2.5rem 0 2rem 0;
  }

  .search-img {
    margin: 0.25rem auto -2.25rem auto;
  }

  h2 {
    font-size: 2.25rem;
  }

  .glow-btn {
    font-size: 1.05rem;
  }

  .learn-more-message {
    font-size: 1.5rem;
  }

  .watchlist-description {
    font-size: 1.3rem;
  }

  .search-options h2 {
    margin-top: 5rem;
  }

  p.directions {
    margin: 1.5rem auto 2rem auto;
  }

  .all-films {
    justify-content: space-between;
  }

  .all-films .film-card {
    
  }
}


/* Turn off ALL animations */
@media (prefers-reduced-motion) {
  .typewriter h1 {
    margin: 0 auto;
    animation: none;
  }

  .glow-btn:before,
  .glow:before {
    animation: none;
  }

  .search-img {
    animation: none;
  }
}