/* Google Font imports */
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --top-section: rgb(149, 239, 119);
  --accent: rgb(35, 117, 35);
  --film-card-1: #EEDAFF;
  --film-card-2: #ADE4FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
svg {
  display: block;
  max-width: 100%;
}

svg.loader {
  color: var(--accent);
  width: 70px;
  height: 70px;
  margin: 1rem auto;
  animation: spin 1.75s linear infinite;
  /* using ease instead of linear makes start/stop animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    /* putting from 0 is not required here */
  }

  to {
    transform: rotate(360deg)
  }
}

h1 {
  font-size: 1.5rem;
  font-family: "Sour Gummy", sans-serif;
  text-align: center;
  /* letter-spacing: 4px; */
}

h2 {
  text-align: center;
  font-size: 1.3125rem;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Make all Components 100% width */
main,
header,
footer {
  width: 100%;
}

/* ====== HEADER styles ====== */
header {
  padding: 2rem 0 3rem 0
}

header,
.favorite-films {
  background-color: var(--top-section);
}

.logo-wrapper {
  width: 20%;
  max-width: 220px;
  min-width: 150px;
}

header h1 {
  margin-top: 2rem;
}

.typewriter h1 {
  width: 0;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /* margin: 0 auto; */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end) forwards;
  /* Add forward to keep text on page */
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* ====== FAVORITE FILMS section styles ====== */
.favorite-films {
  padding-bottom: 2rem;
}

/* ====== Film section styles ====== */
.search-img {
  max-width: 300px;
  margin: 0 auto -3rem auto;
}

/* Search/Sort bar styles */
.search-nav h2 {
  margin: 2rem 0;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

/* ====== Film Card styles ====== */
.film-card {
  border-radius: 26px;
  font-size: 1.1rem;
  padding: 2rem;
  width: 100%;
  position: relative;
}

.film-card:nth-child(even) {
  background-color: var(--film-card-1);
}

.film-card:nth-child(odd) {
  background-color: var(--film-card-2);
}

.film-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.film-img img {
  max-height: 300px;
  margin: 0 auto;
  border: 6px solid white;
}

.film-info {
  text-align: center;
}

.film-info h3 {
  margin: 1.25rem 0 0.75rem 0;
}

.film-info span {
  font-size: 1.1rem;
  font-weight: normal;
  color: rgb(84, 77, 77);
}

.film-info p {
  line-height: 1.8rem;
}

.rt-score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
}

.tomatoe-icon {
  margin-right: 0.35rem;
  font-size: 1.4rem;
}

.add-favorite {
  text-align: right;
  margin-top: 1rem;
}

.add-favorite svg {
  display: inline-block;
  width: 4ch;
  max-width: 60px;
  margin: 0;
  padding: 0;
  height: auto;
  /* Need this for button size to be acurate in click range */
}

.add-favorite button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10; /* Need this to overlap whole card */
}

/* .add-favorite:hover svg {
  color: #000;
} */


/* ===== MEDIA QUERIES ===== */
@media (min-width: 800px) {
  .typewriter h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .typewriter h1 {
    font-size: 3rem;
  }
}

/* Turn off typewriter animation */
@media (prefers-reduced-motion) {
  .typewriter h1 {
    margin: 0 auto;
    animation: none;
  }
}